<%= form_with(model: model, url: url, id: 'become_a_model') do |f| %>
  <%= f.hidden_field(:picture_cache) %>
  <div class='form-heading'>
    <div class='form-heading-title'>
      Personal Information
    </div>
  </div>

  <% if model.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(model.errors.count, 'error') %> prohibited this model from being saved:</h2>
      <ul>
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='left'>
    <div>
      <%= label_tag :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= label_tag :email %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= label_tag :phone_number %>
      <%= f.text_field :phone_number %>
    </div>
    <div>
      <%= label_tag :gender %>
      <%= f.select :gender,
          options_for_select(Model.genders.map { |k, v| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :height %>
      <%= f.select :height,
          options_for_select(Model.heights.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :weight %>
      <%= f.select :weight,
          options_for_select(Model.weights.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :bust %>
      <%= f.select :bust,
          options_for_select(Model.busts.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :waist %>
      <%= f.select :waist,
          options_for_select(Model.waists.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :hips %>
      <%= f.select :hips,
          options_for_select(Model.hips.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :cup %>
      <%= f.text_field :cup %></div>
    <div>
      <%= label_tag :dress %>
      <%= f.text_field :dress %></div>
    <div>
      <%= label_tag :shoe %>
      <%= f.select :shoe,
          options_for_select(Model.shoes.map { |k| [k, k] }) %>
    </div>
  </div>


  <div class="right">
    <div>
      <%= label_tag :hair_length %>
      <%= f.select :hair_length,
          options_for_select(Model.hair_lengths.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :eye_color %>
      <%= f.select :eye_color,
          options_for_select(Model.eye_colors.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :ethnicity %>
      <%= f.select :ethnicity,
          options_for_select(Model.ethnicities.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :skin_color %>
      <%= f.select :skin_color,
          options_for_select(Model.skin_colors.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :nudes %>
      <%= f.select :nudes,
          options_for_select(Model.nudes.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :tattoos %>
      <%= f.select :tattoos,
          options_for_select(Model.tattoos.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :piercings %>
      <%= f.select :piercings,
          options_for_select(Model.piercings.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :experience %>
      <%= f.select :experience,
          options_for_select(Model.experience.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :compensation %>
      <%= f.select :compensation,
          options_for_select(Model.compensation.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :country %>
      <%= f.select :country,
          options_for_select(Model.countries.map { |k| [k, k] }) %>
    </div>
     <div>
      <%= label_tag :hair_color %>
      <%= f.select :hair_color,
          options_for_select(Model.hair_colors.map { |k| [k, k] }) %>
    </div>
  </div>
  <div class='image-uploads'>
    <div class='form-heading'>
      <div class='form-heading-title'>
        Model Profile Images
      </div>
    </div>
    <div id='upload-preview'>
      <div class='img-placeholder'>
        <div class='upload-button'>
          <%= f.label :picture_1 %>
          <%= f.file_field :picture_1, id: 'picture_1' %>
        </div>
        <div class='picture'>
          <%= model_image_tag(model, 1) %>
        </div>
      </div>
      <div class='img-placeholder'>
        <div class='upload-button'>
          <%= f.label :picture_2 %>
          <%= f.file_field :picture_2, id: 'picture_2' %>
        </div>
        <div class='picture'>
          <%= model_image_tag(model, 2) %>
        </div>
      </div>
      <div class='img-placeholder'>
        <div class='upload-button'>
          <%= f.label :picture_3 %>
          <%= f.file_field :picture_3, id: 'picture_3' %>
        </div>
        <div class='picture'>
          <%= model_image_tag(model, 3) %>
        </div>
      </div>
      <div class='img-placeholder'>
        <div class='upload-button'>
          <%= f.label :picture_for_preview %>
          <%= f.file_field :picture_preview, id: 'picture_preview' %>
        </div>
        <div class='picture'>
          <%= model_image_tag(model, 'preview') %>
        </div>
      </div>  
    </div>
  </div>
  <div class='form-submit-wrapper'>
    <div id='form-submit'>
      <%= f.submit 'Submit', id: 'form-submit-btn' %> 
      <i class='fa fa-spinner fa-spin' id='spinner'></i>
    </div>
  </div>
<% end %>
