<div class="page-title">
  Become a Model
</div>

<div class="become-a-model-intro">If you are interested in modeling, we would like to see pictures of you using the form below. <br>Kindly fill in the details required and please do not use nude or filter photos.<br> We very much appreciate your submission and taking the time to contact us.
</div>
<%= form_with(model: @model, url: become_a_model_create_path, id: 'become_a_model') do |f| %>
<%= f.hidden_field(:picture_cache) %>
<form class="become-model">
  <div class='form-heading'>
    <div class='form-heading-title'>
      Personal Information
    </div>
  </div>
  <div class='left'>
    <div>
      <%= label_tag :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= label_tag :email %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= label_tag :phone_number %>
      <%= f.text_field :phone_number %>
    </div>
    <div>
      <%= label_tag :gender %>
      <%= f.select :gender,
          options_for_select(Model.genders.map { |k, v| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :height %>
      <%= f.select :height,
          options_for_select(Model.heights.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :weight %>
      <%= f.select :weight,
          options_for_select(Model.weights.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :bust %>
      <%= f.select :bust,
          options_for_select(Model.busts.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :waist %>
      <%= f.select :waist,
          options_for_select(Model.waists.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :hips %>
      <%= f.select :hips,
          options_for_select(Model.hips.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :cup %>
      <%= f.text_field :cup %></div>
    <div>
      <%= label_tag :dress %>
      <%= f.text_field :dress %></div>
    <div>
      <%= label_tag :shoe %>
      <%= f.select :shoe,
          options_for_select(Model.shoes.map { |k| [k, k] }) %>
    </div>
  </div>


  <div class="right">
    <div>
      <%= label_tag :hair_length %>
      <%= f.select :hair_length,
          options_for_select(Model.hair_lengths.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :eye_color %>
      <%= f.select :eye_color,
          options_for_select(Model.eye_colors.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :ethnicity %>
      <%= f.select :ethnicity,
          options_for_select(Model.ethnicities.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :skin_color %>
      <%= f.select :skin_color,
          options_for_select(Model.skin_colors.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :nudes %>
      <%= f.select :nudes,
          options_for_select(Model.nudes.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :tattoos %>
      <%= f.select :tattoos,
          options_for_select(Model.tattoos.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :piercings %>
      <%= f.select :piercings,
          options_for_select(Model.piercings.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :experience %>
      <%= f.select :experience,
          options_for_select(Model.experience.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :compensation %>
      <%= f.select :compensation,
          options_for_select(Model.compensation.map { |k| [k, k] }) %>
    </div>
    <div>
      <%= label_tag :country %>
      <%= f.select :country,
          options_for_select(Model.countries.map { |k| [k, k] }) %>
    </div>
     <div>
      <%= label_tag :hair_color %>
      <%= f.select :hair_color,
          options_for_select(Model.hair_colors.map { |k| [k, k] }) %>
    </div>
  </div>
  <div>
    <div class='img-header'>
      <h2>Upload 3 images</h2>
    </div>
    <div id='upload-preview'>
      <div class='img-placeholder'>
        <div class='upload-button'>
          <%= f.label :picture_1 %>
          <%= f.file_field :picture, id: 'picture_1' %>
        </div>
        <div class='picture'>
          <img data-id='1'>
        </div>
      </div>
      <div class='img-placeholder'>
        <div class='upload-button'>
          <%= f.label :picture_2 %>
          <%= f.file_field :picture, id: 'picture_2' %>
        </div>
        <div class='picture'>
          <img data-id='2'>
        </div>
      </div>
      <div class='img-placeholder'>
        <div class='upload-button'>
          <%= f.label :picture_3 %>
          <%= f.file_field :picture, id: 'picture_3' %>
        </div>
        <div class='picture'>
          <img data-id='3'>
        </div>
      </div>  
    </div>
  </div>
  <div class='form-submit-wrapper'>
      <%= f.submit "Submit" %> 
  </div>
<% end %>