<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>

  <%= body_tag do %>
    <%= render partial: 'shared/nav' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="page-title">
      Admin Panel
    </div>
    <div class="admin-controls">
      <ul>
        <%= admin_panel_link(:model_applicants) %>
        <%= admin_panel_link(:new_model) %>
        <%= admin_panel_link(:new_photographer) %>
      </ul>
    </div>
    <div class="container">
      <div class="tabs-content">
        <%= yield %>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
  <% end %>
</html>
