<!DOCTYPE html>
<html>
<%= render 'application/favicon' %>
  <%= render partial: 'shared/head' %>

  <%= body_tag do %>
    <%= render partial: 'shared/nav' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
    <%= render partial: 'shared/footer' %>
  <% end %>
</html>
