<!DOCTYPE html>
<html>
<%= render 'application/favicon' %>
  <%= render partial: 'shared/head' %>

  <%= body_tag do %>
    <%= render partial: 'shared/nav' %>
    <div class="container">
      <%= render partial: 'shared/alert_notice.html.erb' %>
      <%= yield %>
    </div>
    <%= render partial: 'shared/footer' %>
  <% end %>
</html>
